@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(0, 0, 0);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(0, 0, 0);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(0, 0, 0);
    --primary: rgb(0, 191, 255);
    --primary-foreground: rgb(0, 0, 0);
    --secondary: rgb(230, 230, 230);
    --secondary-foreground: rgb(0, 0, 0);
    --muted: rgb(240, 240, 240);
    --muted-foreground: rgb(102, 102, 102);
    --accent: rgb(0, 191, 255);
    --accent-foreground: rgb(0, 0, 0);
    --destructive: rgb(152, 27, 27);
    --destructive-foreground: rgb(242, 242, 242);
    --border: rgb(217, 217, 217);
    --input: rgb(230, 230, 230);
    --ring: rgb(0, 191, 255);
    --chart-1: rgb(51, 204, 153);
    --chart-2: rgb(255, 204, 0);
    --chart-3: rgb(255, 102, 102);
    --chart-4: rgb(102, 153, 255);
    --chart-5: rgb(204, 102, 255);
    --sidebar: rgb(255, 255, 255);
    --sidebar-foreground: rgb(0, 0, 0);
    --sidebar-primary: rgb(0, 191, 255);
    --sidebar-primary-foreground: rgb(0, 0, 0);
    --sidebar-accent: rgb(230, 230, 230);
    --sidebar-accent-foreground: rgb(0, 0, 0);
    --sidebar-border: rgb(217, 217, 217);
    --sidebar-ring: rgb(0, 191, 255);
    --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-serif: string;
    --font-mono: 'SF Mono', SFMono-Regular, ui-monospace, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --radius: 0.5rem;
    --shadow-2xs: string string string string hsl(string / NaN);
    --shadow-xs: string string string string hsl(string / NaN);
    --shadow-sm: string string string string hsl(string / NaN), string 1px 2px NaNpx hsl(string / NaN);
    --shadow: string string string string hsl(string / NaN), string 1px 2px NaNpx hsl(string / NaN);
    --shadow-md: string string string string hsl(string / NaN), string 2px 4px NaNpx hsl(string / NaN);
    --shadow-lg: string string string string hsl(string / NaN), string 4px 6px NaNpx hsl(string / NaN);
    --shadow-xl: string string string string hsl(string / NaN), string 8px 10px NaNpx hsl(string / NaN);
    --shadow-2xl: string string string string hsl(string / NaN);
    --tracking-normal: string;
  }
  
  .dark {
    --background: rgb(0, 0, 0);
    --foreground: rgb(230, 230, 230);
    --card: rgb(7, 8, 9);
    --card-foreground: rgb(242, 242, 242);
    --popover: rgb(7, 8, 9);
    --popover-foreground: rgb(242, 242, 242);
    --primary: rgb(0, 191, 255);
    --primary-foreground: rgb(0, 0, 0);
    --secondary: rgb(18, 18, 18);
    --secondary-foreground: rgb(230, 230, 230);
    --muted: rgb(13, 13, 13);
    --muted-foreground: rgb(153, 153, 153);
    --accent: rgb(0, 191, 255);
    --accent-foreground: rgb(0, 0, 0);
    --destructive: rgb(152, 27, 27);
    --destructive-foreground: rgb(242, 242, 242);
    --border: rgb(25, 64, 77);
    --input: rgb(18, 18, 18);
    --ring: rgb(0, 191, 255);
    --chart-1: rgb(51, 204, 153);
    --chart-2: rgb(255, 204, 0);
    --chart-3: rgb(255, 102, 102);
    --chart-4: rgb(102, 153, 255);
    --chart-5: rgb(204, 102, 255);
    --sidebar: rgb(0, 0, 0);
    --sidebar-foreground: rgb(230, 230, 230);
    --sidebar-primary: rgb(0, 191, 255);
    --sidebar-primary-foreground: rgb(0, 0, 0);
    --sidebar-accent: rgb(13, 13, 13);
    --sidebar-accent-foreground: rgb(230, 230, 230);
    --sidebar-border: rgb(19, 48, 57);
    --sidebar-ring: rgb(0, 191, 255);
    --font-sans: string;
    --font-serif: string;
    --font-mono: string;
    --radius: 0.5rem;
    --shadow-2xs: string string string string hsl(string / NaN);
    --shadow-xs: string string string string hsl(string / NaN);
    --shadow-sm: string string string string hsl(string / NaN), string 1px 2px NaNpx hsl(string / NaN);
    --shadow: string string string string hsl(string / NaN), string 1px 2px NaNpx hsl(string / NaN);
    --shadow-md: string string string string hsl(string / NaN), string 2px 4px NaNpx hsl(string / NaN);
    --shadow-lg: string string string string hsl(string / NaN), string 4px 6px NaNpx hsl(string / NaN);
    --shadow-xl: string string string string hsl(string / NaN), string 8px 10px NaNpx hsl(string / NaN);
    --shadow-2xl: string string string string hsl(string / NaN);
  }
  
  body {
    letter-spacing: var(--tracking-normal);
  }
}